<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    admin pannel
    <form action="admin/addpost" method="POST">
      <label for="title">Enter title: </label>
      <input id="title" type="text" name="title" placeholder="title..." />

      <label for="text">Enter text: </label>
      <input id="text" type="text" name="text" />

      <input type="submit" value="OK" />
    </form>

    <% for(var i=0; i < posts.length; i++) { %>
      <div>
        <tr>
          <td><%= posts[i].title %></td>
          <td><%= posts[i].text %></td>
          <td><%= posts[i].author_name %></td>
          <td><a href="/admin/update/<%=posts[i]._id%>">Edit</a></td>
          <td><a href="/admin/delete/<%=posts[i]._id%>">Delete</a></td>
        </tr>
      </div>
   <% } %>
  </body>
</html>
