<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if(loggedIn){ %>
      <p>Hello <%=name %></p>
      <form action="/logout" method="get" >
        <button type="submit">LogOut</button>
      </form>
    <%}else{%>
      <p>Hello guest</p>
      <p><a href="/login">Login</a></p>
      <p><a href="/register">Register</a></p>
    <% } %>

    <% for(var i=0; i < data.length; i++) { %>
      <tr>
        <td><%= data[i].title %></td>
        <td><%= data[i].text %></td>
        <td><%= data[i].author_name %></td>
      </tr>
   <% } %>

  </body>
</html>
